<!DOCTYPE html>
<html>
<head>
	<title>Name Tartan Generator</title>
	<link rel="stylesheet" href="../static/tartan.css">
</head>
<body>

	<div align="center">
		<img src="{{ genTartan }}" alt="Generated Tartan" class="none">
	</div>

	<br>
	
	<div align="center">
		{{FML[0]}} {{FML[1]}} {{FML[2]}}
	</div>

	<br>
	<div align="center">
		<form method="POST">
			<input name="namebox" autofocus>
		</form>
	</div>

</body>

<footer>
	&copy; GPL v3, 2022 Randall Evan McClellan <a href="http://www.github.com/vanlellan/nameTartan">(source)</a>
</footer>
